table {
  width: 100%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}
thead {
  background-color: #fafafa;
}
th,
td {
  border-bottom: 1px solid #444444;
  padding: 10px;
  text-align: center;
}
